pipeline/foreach activity.json
{
	"name": "foreach activity",
	"properties": {
		"activities": [
			{
				"name": "lookup foreach activity",
				"description": "for practice foreach activity",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "foreach lookup activity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('foreach lookup activity').output.value",
						"type": "Expression"
					},
					"batchCount": 2,
					"activities": [
						{
							"name": "foreach copy activity",
							"description": "for practice purpose",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ASQLDB1",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ABDB1",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "foreach lookup activity",
				"description": "for practice",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ASQLDB1",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-06-03T05:55:56Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}