pipeline/pipeline3.json
{
	"name": "pipeline3",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "FileName",
					"value": {
						"value": "@pipeline().parameters.Filename1",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Append variable1",
				"type": "AppendVariable",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "FileName",
					"value": {
						"value": "@pipeline().parameters.appendfile",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Append variable1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('FileName')",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(true, contains(variables('FileName'), 'DailyHourly'))\n",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"FileInput": {
				"type": "string",
				"defaultValue": "Sales/employeedata/SalesHourly"
			},
			"Filename1": {
				"type": "array",
				"defaultValue": [
					"SalesHourly",
					"Daily"
				]
			},
			"appendfile": {
				"type": "string",
				"defaultValue": "DailySales"
			}
		},
		"variables": {
			"FileName": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "AllactivitiesExamples"
		},
		"annotations": [],
		"lastPublishTime": "2023-03-16T13:09:13Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}