pipeline/pipeline4.json
{
	"name": "pipeline4",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "FileName",
					"value": {
						"value": "@pipeline().parameters.Filename1",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Append variable1",
				"type": "AppendVariable",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "FileName",
					"value": {
						"value": "@pipeline().parameters.appendfile",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Append variable1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('FileName')",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(true, contains(variables('FileName'), 'DailyHourly'))\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Filter1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Filter1').output, 'true')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pipeline2_copy1",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"FileInput": {
										"value": "@pipeline().parameters.FileInput",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"FileInput": {
				"type": "string",
				"defaultValue": "Sales/employeedata/SalesHourly"
			},
			"Filename1": {
				"type": "array",
				"defaultValue": [
					"DailyHourly"
				]
			},
			"appendfile": {
				"type": "string",
				"defaultValue": "SalesHourly"
			}
		},
		"variables": {
			"FileName": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "AllactivitiesExamples"
		},
		"annotations": [],
		"lastPublishTime": "2023-03-16T13:38:54Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}