pipeline/pipeline5_copy1.json
{
	"name": "pipeline5_copy1",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_pipeline2_source",
						"type": "DatasetReference",
						"parameters": {
							"path": {
								"value": "@pipeline().parameters.input",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists",
						"childItems",
						"contentMD5",
						"itemName",
						"itemType",
						"lastModified",
						"size"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Get Metadata1').output.columnCount,10)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Wait2",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 15
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 10
							}
						}
					]
				}
			}
		],
		"parameters": {
			"input": {
				"type": "string",
				"defaultValue": "testcontainer/salesout/empployeedata"
			}
		},
		"folder": {
			"name": "AllactivitiesExamples"
		},
		"annotations": [],
		"lastPublishTime": "2023-03-16T13:54:46Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}